<!-- text-template -->
<script type="text/x-template" id="app-layout-template">
    <div class="app-layout default-style" :mode="mode" :header="header" :footer="footer" :style="{fontSize:size+'rem'}" ref="layout">
        <div v-if="header" is="app-toolbar" :title="title?$tr(title):$tr('app_name')" >
            <slot name="toolbar"></slot>
        </div>
        <transition-group name="fade" tag="div" class="app-main">
            <div class="main-content flex-center" key="content">
                <slot></slot>
            </div>
            <div class="app-message" v-if="message" :key="message?message:''"><div >{{message}}</div></div>
        </transition-group>
        <div is="popup" :info="popup" ref="popup"></div>
        <div is="app-loading" v-if="loading"><img src="img/app/loading.png"></div>
        <div v-if="footer" is="app-footer">
            <slot name="footer"></slot>
        </div>
    </div>
</script>
<script type="text/javascript">

    var errorHandler=function(err, data){
        console.log('error',err, data);
        console.log(Object.keys(err).join(','))
    }
    window.addEventListener("error",errorHandler);
    Vue.config.errorHandler = errorHandler;

    Vue.component('app-layout', {
        template: '#app-layout-template',
        data: function(){
            return {
                size: 1.25,
                lang: "es",
                level: 0,
                mode: 'portrait',
                message: null,
                loading: false,
                contentData: null,
                popup: {},
                cacheId: (new Date()).getTime(),
                actions: {
                    'setLanguage' : true
                }
            }
        },
        props: { 
            title: String,
            header: Boolean,
            footer: Boolean,
        },
        created:function(){
            var self = this
        },
        mounted:function(){
            window.app=this
            var self = this
            var appLang = localStorage.getItem('applang')
            document.title = this.$tr(this.title)
            stopSounds()
            stopAudio('bg')
            if (appLang && appLang != '') {
                this.setLanguage({value:appLang})
            }else {
                this.setLanguage({value:'es'})
            }
            var applayout=self.$refs.layout;
            window.addEventListener("keyup",function(ev){
                //console.log('ev',ev.keyCode)
                if (ev.keyCode == 27) {
                    self.popup = null
                }
            })
            window.addEventListener("resize",function(ev){
                self.resize()
            })
            self.resize()
            window.addEventListener("scroll",function(ev){
                var doc = document.documentElement
                var scrollTop = (window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0);
                var isScrolling = document.body.getAttribute("scrolling")==1;
                var limit=12;
                if (isScrolling){
                    limit=11;
                }
                if (scrollTop>limit){
                    document.body.setAttribute("scrolling",1);
                }else{
                    document.body.setAttribute("scrolling",0);
                }
            })
            audioEngine.loadList({
            })
        },
        methods: {
            changePosition: function(pos){
                this.current=pos
            },
            isPhone: function(){
                return window.cordova!=null
            },
            isFullscreen: function(){
                return window.innerHeight == screen.height
            },
            fullScreen: function(){
                if (this.isFullscreen()) {
                    document.exitFullscreen()
                } else {
                    document.body.requestFullscreen()
                }
                this.$forceUpdate()
            },
            resize: function() {
                var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
                var vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                if (vw>=1024 || vh>=1024){
                    this.size=1.6
                } else {
                    this.size=1.2
                }
                this.$forceUpdate()
                if (vw>vh) {
                    this.mode='landscape'
                } else {
                    this.mode='portrait'
                }
            },
            alert: function(title,message,buttons,callback,className) {
                this.popup={
                    title: title,
                    className: className,
                    message: message,
                    callback: callback,
                    buttons: buttons
                }
                this.$refs.popup.show(this.popup)
                this.$forceUpdate()
            },
            confirm: function(title,message,callback) {
                this.alert(title,message,{cancel:this.$tr("Cancel"),ok:this.$tr("Ok")},callback)
            },
            showMessage: function(msg, timeout){
                clearTimeout(window.messageTimeout)
                this.message = msg;
                window.messageTimeout = setTimeout(function(self){
                    self.message = null
                }, timeout?timeout:5000, this)
                this.$forceUpdate()
            },
            setLanguage: function(options) {
                console.log('lang', options.value)
                this.lang = options.value
                language.setLanguage(this.lang)
                localStorage.setItem('applang', options.value)
                if (window.content && window.content.$forceUpdate){
                    window.content.$forceUpdate()
                }
                this.$forceUpdate()
            },
            setupLanguage: function(){
                var self=this
                var languages = {}
                for (var idx in language.list){
                    var key = language.list[idx]
                    languages[key]='<img src=img/app/'+key+'.svg height=16> '+self.$tr('lang_name',key)
                }
                this.alert(self.$tr('Language'),self.$tr('Select language'),languages,function(button,idx){
                    self.setLanguage({value:idx})
                })
            },
            action: function (event) {
                var action = event.action
                if (this.actions[action]){
                    this[action](event.data)
                }
            }
        },
        watch:{
            title: function(newValue){
                console.log('title',newValue)
                document.title = this.$tr(newValue)
            }
        }
    });
</script>
<style>
.app-layout{
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
    min-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.app-main{
    flex:1;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.app-layout[footer='true'] .app-main{
    padding-bottom: 32px;
}
.app-layout[header='true'] .app-main{
    padding-top: 2.2em;
}
.app-main > .main-content{
    flex: 1;
    box-sizing: border-box;
    padding: 12px 0;
    flex-direction: column;
    position: relative;
}
.app-layout[full='true'] .app-main > .main-content{
    padding:0px;
}
.app-main > .main-content > .main-container{
    flex: 1;
    width: 100%;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content:center;
}
.app-message{
    position: fixed;
    left: 0;
    bottom: 10%;
    width: 100%;
    z-index: 10;
}
.app-message > div{
    margin: 0 auto;
    max-width: 640px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}
.app-message.visible{
    display: block;
}
#app button{
    color: #444;
    background-color: #FFC;
    padding: 0px 16px;
    font-size: 1em;
    border-radius: 0.8em;
    border: 0px;
    line-height: 1.4em;
    height: 1.8em;
    margin: 0 8px;
    cursor: pointer;
}
#app button[disabled] {
    opacity: 0.6;
    cursor: default;
}
*[inactive='true']{
    opacity: 0.25;
}
.material-icons{
    font-size: 1em;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter{
  opacity: 0;
  font-size: 8px;
}
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  font-size: 8px;
  display: none;
}
.list-enter-active,
.list-leave-active {
  transition: all 0.5s linear;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  background-size: 20%;
  height: 10px;
  overflow: hidden;
}
.zoom-enter-active, .zoom-leave-active {
  transition: all .5s;
}
.zoom-enter{
  opacity: 0;
  size: 1px;
  size: 1px;
}
.zoom-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  size: 1px;
  size: 1px;
}
.default-style{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    color: #222;
}
.darker-style{
    background-color: rgb(200,200,200);
    background-color: rgba(200,200,200,0.8);
    color: #222;
}

.blink-animation {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
}

.shake-animation {
  transform: rotate(45deg);
  animation: shake 2s linear infinite;
}

@keyframes shake {
  70% {
    transform: rotate(45deg);
  }
  72% {
    transform: rotate(55deg);
  }
  74% {
    transform: rotate(45deg);
  }
  76% {
    transform: rotate(35deg);
  }
  78% {
    transform: rotate(45deg);
  }
}

@media (prefers-color-scheme: dark) {
    .default-style{
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
        color: #f0f0f0;
    }
    .darker-style{
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
        color: #f0f0f0;
    }
    #app button{
        background-color: #FFA;
        color: #222;
    }
}
@media (min-width: 1000px) {
}
@media (max-width:790px){
    .app-layout[header='true'] .app-main{
        padding-top: 4.2em;
    }
    .app-layout[header='true'][running='true'] .app-main{
        padding-top: 2.2em;
    }
    .toolbar-padding{
        padding-top: 2.2em;
    }
}
@media (max-width:480px){
    .app-message{
        font-size: 0.9em;
    }
}
@media (max-height: 400px){
}
</style>
